.drop-main-container {
  display: flex;
  width: 328px;
  height: 101px;
  border: 1px solid #00000040;
  border-radius: 15px;
  background-color: #ffffff;
  justify-content: center;
}

.avt-container {
  background-color: #ffffff;
  width: auto;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.avt {
  height: 80%;
  border-radius: 50%;
}

.admin-inf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  margin-right: 25px;
}
.role-container {
  display: flex;
  align-items: start;
  gap: 5px;
}

p {
  margin: 0;
}

.role {
  font-size: 13.5px;
}

.option-main-container {
  background-color: #ffffff;
  width: 328px;
  border-radius: 15px;
  height: auto;
  border: 1px solid #00000040;
}

.admin-left-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.option-left {
  display: flex;
  gap: 10px;
  padding: 15px 22px;
}

.option-left.active {
  background-color: #e1a730;
  color: #ffffff;
}

.option-left.active-top {
  background-color: #e1a730;
  color: #ffffff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.option-left.active-bottom {
  background-color: #e1a730;
  color: #ffffff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.option-left.list {
  padding-left: 40px;
}

.arrow {
  margin-left: 88px;
}

// .body-main-container {
//   display: flex;
//   gap: 20px;
// }

