.main-container-order-manage {
  background-color: #ffffff;
  height: 1170px;
  // width: 100%;
  border-radius: 15px;
  border: 1px solid hsla(0, 0%, 0%, 0.251);
  padding: 10px 60px;
  display: flex;
  flex-direction: column;
}