/* --- Overlay bao phủ toàn màn hình --- */
.logout-overlay {
  background-color: #00000080;
  position: fixed;
  z-index: 22;
  height: 100%;
  width: 100%;
  display: grid;
  top: 0;
  left: 0;
}

/* --- Khung Modal chính --- */
.logout-modal {
  place-self: center;
  width: 480px;
  height: 275px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;

  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    .icon-wrapper {
      background-color: #FFC3C9;
      width: auto;
      padding: 15px 17px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .modal-title {
      font-size: 18px;
      font-weight: 700;
    }

    .modal-description {
      text-align: center;
      padding: 0 55px;
      line-height: 1.4;
    }
  }

  .modal-divider {
    border: 1px solid #00000040;
    margin-top: 15px;
    width: 100%;
  }

  .modal-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;

    .button-logout {
      transition: 500ms;
      cursor: pointer;
      height: 42px;
      width: 160px;
      border-radius: 6px;
      font-size: 15px;
      font-weight: 500;
      outline: none;

      &:hover {
        box-shadow: 1px 1px 15px #00000040;
        transform: scale(1.07) translateY(-3px);
      }

      &.btn-cancel {
        color: #636363;
        background-color: #F0F0F0;
        border: 1px solid #D2D2D2;
      }

      &.btn-confirm {
        color: #FFFFFF;
        background-color: #BB2A33;
        border: 1px solid #FF99A1;
      }
    }
  }
}

/* --- Hiệu ứng Animation --- */
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-animation {
  animation: bounceIn 0.6s ease-out forwards;
}